.givedata
{
  width: 70%;
  margin: auto;
}
.MuiFormControl-root.data
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.to
{
  width: 60%;
  margin: auto;
}
.boxlist{
  padding-inline-start: 0;
}
.end
{
  display: flex;
  justify-content: right;
}